
/*------------------------------BODY ------------------------ */
html,body{
	height:100%;
	margin:0;
	font-family: 'Bitter', serif;
}

a{
    text-decoration:none;
    color:black;
    cursor:pointer;
}
/* --------------------------------Index -------------*/
#index{
	min-height:100%;
}
#index > div:nth-child(1) > .landing{
	min-height:100vh;
}
/* --------------------------------LANDING ----------*/
.landing{
    background: rgba(0, 0, 0, 0.9);
	color:white;
}
.landing img{
	max-width:100%;
}
.landing button{
	padding:1%;
}

/*-----------------------MESSAGES---------------------------*/
.message{
	border:1px solid teal;
	text-align: left;
	padding:0 2% 2% 2%;
    margin:1%;
}
.message p:not(.close){
	margin-left:8%;
}
.close{
	margin:2% 2% 1% 2%;
	cursor: pointer;
	background-color: maroon;
	border:none;
	color:white;
}
.msg-container hr{
	margin:0 8%;
}

/*-----------------------Pagination---------------------------*/
.paginate{
    display:flex;
    padding:5% 2%;
}
.paginate a{
    flex:1;
}

/*-----------------------EDIT-BLOG---------------------------*/
.putLeft{
    text-align:left;
}
/*-----------------------BLOG-POST---------------------------*/
.dash-container textarea{
	width:80%;
}
.blog-post{
	margin:0 10%;
	text-align: left;
	padding:1%;
}
.preview{
	text-align: left;
	margin:5% 5% 15% 5%;
}
.preview img{
	max-width:100%;
}
.date{
	font-size:12px;
}

.blog-title p:nth-child(1){
	font-size:26px;
	color:#4c0000;
}
.blog-post img{
	max-width: 100%;
}
/*-----------------------Dashboard---------------------------*/
.dashboard{
    display:flex;
}
.dash-sidenav{
    flex:1;
    flex-direction:column;
}
.dash-container hr{
	margin: 3% 7%;
}

.home-icon{
    content:url('../images/icons/home.svg');
    height:50px;
    padding:2%;
    background-color:#800000;
}
.dash-topnav{
    display:flex;
}
.dash-view{
    flex:4;
}

.flex-space{
    flex-grow:2;
}  
.title{
    text-align:center;
    background-color:#404040;
    color:white;
    margin:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.dash-sidenav{
    background-color:#404040;
    min-height:100vh;
}
.dash-sidenav a{
    color:white;
    padding:10%;
}
.dash-container{
    text-align:center;
    padding-top:3%;
}
.profile-pic{
    display:flex;
    background-color:teal;
    padding:10% 5%;
    height:50px;
    justify-content:space-around;
}
.profile-pic img{
    content:url('../images/about/profile.jpg');
    max-height:50px;
    border-radius:50%;
}
.profile-pic p{
    display:inline;
    color:white;
}

/*--------------------------File Storage System -----------------------*/
.file-storage-system{
	display:flex;
}

.panel-left{
	border:2px solid black;
	flex:1;
}

.file-storage-system h3{
	margin : 0;
	padding: 0.6em;
	size:10px;
	text-align:center;
}
.panel-right{
	border:1px solid black;
	flex:5;
}
.panel-right li{
	display:flex;
	border:1px solid black;
}

.panel-left h3, .panel-right h3{
	text-align:center;
	border-bottom: 2px black solid;
}
.panel-left h2{
	text-align:center;
	font-size:20px;
}
.upload-content h6 ,.upload-content li{
	text-align:center;
	justify-content:center;
}

.upload-content{
	display:flex;
	width:-webkit-fill-available;
}

.upload-content li{
	width:inherit;
}
.upload-content h6{
	word-wrap:break-word;
}
.upload{
	border:1px solid black;
}

#image-name{
	word-break:break-word;

}
.upload button{
	background:none;
	border:none;
}

.upload li {
	font-size:0.8em;
	display:flex;
	list-style-type:none;
	padding: 10px;
	text-align:center;
}

.folder-icon{
	height:8vh;
}

.thumbnail{
	max-height:8vh;
	max-width:8vw;
}

.thumbnail:hover{
	opacity:0.3;
}
.modal{
	display:none;
	position:fixed;
	z-index:1;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4);
}

.modal-content{
	/*max-width:88vw;
	max-height:88vh;
	*/
	background-color:#fefefe;
	margin: 2%;
	padding: 2%;
	border:1px solid #888;
	position:relative;
	top:46%;
	left:48%;
	transform:translate(-50%,-50%);

}

.modal-content img{
	max-height:85vh;
	max-width:69vw;
	width:absolute;
}

.modal-content iframe{
	width:absolute;
}

.photo-dashboard{
	display:flex;
}
.photo-dashboard li{
	font-size:0.8em;
	flex:1;
	padding:10px;
	border:1px black solid;
	justify-content:center;
}

.exit-icon{
	height:3vh;
}
#exit-icon-2{
	height:2em;
	width:2em;
	position:absolute;
	top : 2%;
	right:2%;
}

.slideshow-container img {
	max-height:85vh;
	max-width:69vw;
	position:relative;
}

.left-button,.right-button{
	border:none;
	position:absolute;
	top:50%;
	font-size:2em;
}

.left-button {
	left:2%
}

.right-button{
	right:2%;
}
/*-----------------------------Video Player ---------------------------*/
.video-player-list{
	display:inline-flex;
	list-style-type:none;
	padding:5px;
}

.video-player-list li{
	border:2px solid black;
	padding:1em;
	border-radius:50%;
	cursor:pointer;
	height:0.5vh;
	width:0.5vh;
}
.video-player-title{
	text-align:center;
}

.video-player-container{
	border:2px black solid;
	margin:8%;
	text-align:center;
}

.add-button{
	height:4vh;
	padding:10px;
}
.video-exit-icon{
	height:4vh;
	float:right;
}

.slide-title{
	padding-left:10%;
}


/*-----------------------------Desktop View ---------------------------*/
/*-----------------------------Desktop View ---------------------------*/
@media only screen and (min-width:813px){
    a{
        font-size:21px;
    }
    .dash-sidenav{
    } 
    .dash-sidenav a{
        padding:10%;
        border:1px solid teal;
    } 
    .dash-container{
        text-align:center;
        padding:0 15%;
    }
    .paginate{
    }
    .profile-pic{
        display:flex;
    }
}

/*-----------------------------Mobile View ----------------------------*/
/*-----------------------------Mobile View ----------------------------*/
@media only screen and (max-width:812px){
    a{
        font-size:calc(21px + 1vw);
    }
   /*-----------------------------Dash Home ---------------*/
    .dashboard{
    }  
    .dash-sidenav{
        background-color:#404040;
        position:absolute;
        z-index:2;
    }
    .dash-sidenav a{
        color:white;
        padding:10%;
    }
   /*---------------------------Dash Mobile Nav ----------*/
    .hamburger{
        content:url('../images/icons/hamburger.svg');
        height:50px;
        padding:2%;
        background-color:teal;
    }
}

@media only screen and (max-width:500px){

	.right-button{
		right:0.1vh;
	}
	.left-button{
		left:0.1vh;
	}
}



