/*-------------------slideshow buttons------------------------*/
.slideshow-container img{
	height:-webkit-fill-available;
	width:unset;
}

/*-------------------------register && login--------------------*/
.reglog{
	display:flex;
	text-align: center;
	margin:3%;
	margin-bottom: 15%;
}
.reglogChild{
	flex:1;
	padding:2%;
}
input{
	padding:1%;
	margin:1%;
}
/*------------------------------Landing ------------------------ */
.landing{
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.landing img{
    content:url('../images/logos/logo.jpg');
}
.landing a{
    color:white;
    border:3px solid white;
    padding:1%;
}
    
/*----------------------------- Navbar ----------------------*/
.nav-container{
    text-align:center;
}
.nav-views {
    padding-top: 8vh;
}
.navBar{
/*    border:1px solid black;*/
}
.navBar a{
/*    border:1px solid black; */
    flex:1;
}

.navBar span{
    flex:2;
    text-align:right;
}
.navBar{
    display:flex;
    justify-content:space-between;
}
.logo{
    padding:1%;
    text-align:left;
}
.logo img{
    content:url('../images/logos/volc.jpg');
    height:12vh;
}

.navBar a:not(.logo){
	text-decoration: none;
	color:black;
	font-family: 'Anton', sans-serif;
}
/*-------------------------multimedia--------------------*/
.multimedia{
	flex:1;
}

.multimedia img{
	max-width:65%;
}

.multimedia-flexbox img:hover {
	opacity: 0.6;
}
.multimedia p {
	font-size:2vh;
}

/*-----------------------ABOUT PAGE---------------------------*/
.about{
    display:flex;
}
span .about{
    flex:1;
}
.about p{
	padding: 2%;
}
.about img {
	border-radius: 50%;
}

/*-----------------------FLASH MESSAGES---------------------------*/
.err{
	background-color: red;
	color:white;
	padding:1%;
}
.success{
	background-color: green;
	color:white;
	padding:1%;
    text-align:center;
}

/*-----------------------FORM---------------------------*/

.contact-form input:not(.submit){
	width:300px;
}

.contact-form{
	display:inline-block;
	width:325px;
	margin:3%;
}
.contact-form textarea{
	width:305px;
}
.submit{
	width:100px;
	padding:5px;
	border:none;
	background-color: white;
	border:1px solid gray;
}

/*----------------------- Blog ---------------------------*/
.date{
    padding-top:2vh;
    font-size:12px;
    color:#7e7e7e;
}
/*-----------------------------Desktop View ---------------------------*/
/*-----------------------------Desktop View ---------------------------*/
@media only screen and (min-width:812px){
    .multimedia-flexbox {
        display:flex;
    }
    .navBar a:not(.logo){
	    padding:4%;
    }
    .nav-space{
        flex-grow:.75;
    }
    .landing img{
        max-width:80%;
    }
    .menuIcon{
        display:none;
    }
    .navLinks{
        padding:5vh 1vh;
    }

	.about{
		display:flex;
		margin-bottom:4%;
	}
    .about img{
	    max-height:300px;
    }
    .mainBlogs {
        padding:0 20%;
    }
}

/*-----------------------------Mobile View ----------------------------*/
/*-----------------------------Mobile View ----------------------------*/
@media only screen and (max-width:812px){
 /*   .landing{
        padding-top:10%;
    }*/
    .navBar > a:not(.logo){
	    padding:4%;
    }
   .navBar a:not(.logo):not(.menuIcon){
/*        display:none; */
    }
    .navBar span{
        width:40%;
    }
    .navLinks a{
        padding:4% 4% 20% 4%; 
    }
    .menuIcon{
        padding-right:2%;
        display:block;
        text-align:right;
    } 
    .menuIcon img{
        content:url('../images/icons/menu.svg');
        height:50px;
    }
    .navLinks {
        flex-direction:column;
        position:absolute;
        background-color:white;
        right:1vh;
        top:9vh;
        padding:2vh;
        width:33%;
        z-index:2;
    }
   .about{
      margin-bottom:2%;
      flex-wrap:wrap;
    }    
    .about img{
        max-height:250px;
    }
}




