body{
	text-align: center;
	margin:0;
	font-family: 'Roboto', sans-serif;
	background-color: black;
}
a{
	font-size:calc(21px + .5vw);
}
p{
	font-size:calc(16px + .5vw);
	padding :15%;
	color:white;
}
.navParent{
	background-color:#074054;
}
.navBar{
	background-color:#074054;
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.menuIcon{
	display:none;
	cursor: pointer;
}
.menuIcon img{
	height:21px;
}
nav a{
	text-decoration: none;
	color:white;
	padding: 1% 2% 1% 2%;
}
a:hover{
	background-color:white;
	color:#074054;
}
@media only screen and (min-width:1000px){
	a{
		font-size:calc(21px + .3vw);
	}
}
@media only screen and (max-width:1000px){
	a:hover{
		background-color:orange;
		color:white;
	}
	.navBar{
		flex-direction: column;
		align-items: flex-end;
	}
	.menuIcon{
		display:block;
	}
	.menuIcon img{
		height:calc(21px + 1vw);
	}
	a{
		display:none;
	}	
	.navBar:hover a{
		display:block;
	}
}
.banner{
	width:100%;
	margin:-4px;
}

.caret{
	font-size: 60%;
}

.banner{
	 
}
.insta-photo{
	margin:1%;
	max-height:400px;
}
