/*-------------------------register && login--------------------*/

.reglog{
	display:flex;
	text-align: center;
	margin:3%;
	background-color: white;
}
.reglogChild{
	flex:1;
	border-style: solid;
	border-color: black;
	padding:2%;
}
input{
	padding:1%;
	margin:1%;
}
/*------------------------------BODY ------------------------ */

body{
	text-align: center;
	margin:0;
/*	font-family: 'Anton', sans-serif;
	font-family: 'Bitter', serif;*/
	
}
p{
	font-size:calc(16px + .5vw);
	padding :15%;
}
/* --------------------------------HOME INSTA IMAGES ------------------------*/

.insta-photo{
	margin:1%;
	max-height:400px;
}

/*-----------------------------------NAVBAR ----------------- */

.navParent{
	background-color:#074054;
}
.navBar{
	
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
}
.menuIcon{
	display:none;
	cursor: pointer;
}
.menuIcon img{
	height:21px;
}
nav a{
	text-decoration: none;
	color:black;
	padding: 1% 2% 1% 2%;
	font-size:calc(24px + .5vw);
	font-family: 'Anton', sans-serif;
}
a:hover{
	background-color:white;
	color:#074054;
}
.banner img{
	height:350px;
<<<<<<< Updated upstream
=======
	background-repeat: repeat-y;
>>>>>>> Stashed changes
}
.caret{
	font-size: 60%;
}
/*------------------------------DROPDOWN------------------------------------------*/
.dropdown-content {
    display: none;
    position: relative;
    background-color: white;
    box-shadow: 4px 4px 2px #888888;
}

nav .dropdown{
    padding : 1% 2% 1% 2%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size:20px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/* --------------------------MEDIA QUERY -----------------*/

@media only screen and (min-width:1000px){
	a{
		font-size:calc(21px + .3vw);
	}
	.dropdown-content{
      position:absolute;
   }
}
@media only screen and (max-width:1000px){
	a:hover{
		color:#074054;
	}
	.navBar{
		flex-direction: column;
		align-items: flex-end;
		text-align:right;
	}
	.menuIcon{
		display:block;
	}
	.menuIcon img{
		height:calc(21px + 1vw);
	}
	a{
		display:none;
	}	
	.navBar:hover a{
		display:inline;
	}
	.navBar .dropdown{
        display:none;
    }
    .navBar:hover .dropdown{
        display:block;
    }
}